.settings-sync {
    &-auth {
        &-container {
            display: flex;
        }

        &-code {
            justify-content: center;
        }
    }
}
.sync-banner {
    padding: 10px 16px;
    border-top: var(--sidebar-sync-status-view-border-top);
    display: flex;
    justify-content: space-between;
    &-text {
        font-size: 12px;
        color: var(--sidebar-menu-section-color);
        display: inline-flex;
        align-items: center;
    }
    &-synced {
    }
}
