.settings-sync {
    &-auth {
        &-container {
            display: flex;
        }

        &-code {
            justify-content: center;
        }
    }
}
.test {
    padding: 10px 16px;
    border-top: var(--sidebar-sync-status-view-border-top);
    display: flex;
    justify-content: space-between;
    background-color: green;
}
